<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <section name="ActiveReports9" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PageMaxLine" value="20" />
    <add key="SiteTitle" value="メディカル生産販売管理システム" />
    <add key="LogOn" value="true" />
    <add key="LogFile" value="error.log" />
    <add key="LogSize" value="5120000" />
    <add key="TraceOn" value="false" />
    <add key="TraceFile" value="trace.log" />
    <add key="TraceSize" value="5120000" />
    <add key="OutputExcel" value="" />
    <add key="HenkouTuuti" value="F:\MEIRA\HOSTDATA\" />
    <add key="TanaHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="ZaiHostFile" value="F:\MEIRA\HOSTDATA\KLF201.TXT" />
    <add key="BuhinHostFile" value="F:\MEIRA\HOSTDATA\BUHINM.FIX" />
    <add key="BuhinUpdHostFile" value="F:\MEIRA\HOSTDATA\BUHNUPD.TXT" />
    <add key="SZNyukoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="SZSyukoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="SZZaikoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="GCSyukoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="SGCBhHikiHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="NChakHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="ShijiKakuteiHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BuhinNyukoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BuhinSyukoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BuhinAssyHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BuhinZaikoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BuhinSikakariHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="KGLotHostFile" value="F:\MEIRA\HOSTDATA\KGLOT.FIX" />
    <add key="SeihinZumen" value="F:\MEIRA\zumen\seihin\" />
    <add key="KakoZu" value="F:\MEIRA\zumen\kakozu\" />
    <add key="SikenKensaHyo" value="F:\MEIRA\zumen\siken\" />
    <add key="SystemTempPath" value="F:\MEIRA\HOSTDATA\" />
    <add key="SekisoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="BunshitsuFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="SagyuNippoHostFile" value="F:\MEIRA\HOSTDATA\" />
    <add key="HostDataBackup" value="F:\MEIRA\HOSTDATA\BACKUP\" />
    <!-- ここからはエクスポート関連 -->
    <add key="ExportCommand" value="F:\Oracle\product\10.1.0\Db_1\BIN\exp.exe" />
    <add key="ExportConnect" value="medproc/medproc@medical" />
    <add key="ExportOutPath" value="F:\medical\temp\" />
  </appSettings>
  <connectionStrings>
    <add name="MedicalDB" connectionString="User Id=MEDPROC;Password=MEDPROC;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.129)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Pooling=false;Max Pool Size=100;Min Pool Size=10;" />
    <add name="HonsyaDB" connectionString="User Id=MEDSYS;Password=medsys;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.129)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Pooling=false;Max Pool Size=100;Min Pool Size=10;" />
    <!-- <add name="Pervasive" connectionString="ServerDSN=KOUSRV01;UID=test01;PWD=test01;Server=KOUSRV01;Pooling=false;"/> -->
    <!--<add name="SQLServer" connectionString="Data Source=SYSDIV3;User ID=sa;Password=password;Persist Security Info=True;Initial Catalog=MEDICAL;"/>-->
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="GrapeCity.ActiveReports.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Viewer.Win.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
        <add assembly="GrapeCity.ActiveReports.Export.Excel.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
        <add assembly="GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Document.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Html.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Extensibility.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Chart.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Image.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpHandlers>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*.ar9" verb="*" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add path="*.ar9Web" verb="*" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add path="*.ActiveReport" verb="*" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add path="*.rpx" verb="*" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add path="*.rdl,*.rdlx" verb="*" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add path="ScriptResource.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="c1chartimage.aspx" verb="*" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.4" />
      <add path="WijmoControlsResource.axd" verb="*" type="C1.Web.Wijmo.Controls.WijmoHttpHandler, C1.Web.Wijmo.Controls.4, Version=4.0.20153.223, Culture=neutral, PublicKeyToken=9b75583953471eea" validate="false" />
    </httpHandlers>
    <identity impersonate="true" userName="inden" password="9904" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar9" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR9_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar9Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR9_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR9_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR9_RpxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v9, Version=9.2.5098.1, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR9_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="c1chartimage.aspx" path="c1chartimage.aspx" verb="*" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.4" preCondition="integratedMode" />
      <add name="WijmoControlsHttpHandler" verb="*" preCondition="integratedMode" path="WijmoControlsResource.axd" type="C1.Web.Wijmo.Controls.WijmoHttpHandler, C1.Web.Wijmo.Controls.4, Version=4.0.20153.223, Culture=neutral, PublicKeyToken=9b75583953471eea" />
    </handlers>
  </system.webServer>
  <ActiveReports9>
    <WebService reportsFolder="~/" assemblyFolder="~/" />
  </ActiveReports9>
</configuration>